<app-menu></app-menu>
<div class="container-fluid-3">
  <div class="row mt-2">
    <div class="col-12">
      <h1 class="titulo">Cadastro de Processos</h1>
      <h2 class="sub-titulo">Gerenciamento de Processos</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-button class="float-end" textButton="+ CADASTRAR" (click)="openModalFormProcesso()"></app-button>
      <mat-form-field>
        <mat-label>Busca por usuario</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Digite sua busca" #input>
      </mat-form-field>

      <table class="mat-elevation-z8" mat-table [dataSource]="dataSource" matSort>
        < <!-- Processo nº Column -->
          <ng-container matColumnDef="numeroProcesso">

            <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header> Processo nº </th>
            <td class="td-table" mat-cell *matCellDef="let element">
              <ng-container *ngFor="let processo of element.processos">
                {{processo.numeroProcesso}}
              </ng-container>
            </td>
          </ng-container>

          <!-- Data Abertura Column -->
          <ng-container matColumnDef="dataAbertura">
            <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header> Abertura </th>
            <td class="td-table" mat-cell *matCellDef="let element">
              <ng-container *ngFor="let processo of element.processos">
                {{ processo.dataAbertura | date: 'dd/MM/yyyy'}}
              </ng-container>
            </td>
          </ng-container>

          <!-- Tipo Column -->
          <ng-container matColumnDef="tipo">
            <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
            <td class="td-table" mat-cell *matCellDef="let element">
              <ng-container *ngFor="let processo of element.processos">
                {{processo.tipo}}
              </ng-container>
            </td>
          </ng-container>

          <!-- Cliente Column -->

          <ng-container matColumnDef="nome">
            <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
            <td class="td-table" mat-cell *matCellDef="let element"> {{element.user.name}} </td>
          </ng-container>

          <!-- CPF Column -->
          <ng-container matColumnDef="cpf">
            <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header>Cpf</th>
            <td class="td-table" mat-cell *matCellDef="let element"> {{element.user.cpf}} </td>
          </ng-container>


          <!-- Status Column -->
          <ng-container matColumnDef="processo">
            <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header>Processos Ativo</th>
            <td class="td-table" mat-cell *matCellDef="let element">
              <ng-container *ngFor="let processo of element.processos">
                <mat-icon *ngIf="processo.status == 'Em andamento'" class="c-primary">check</mat-icon>
                <mat-icon *ngIf="processo.status == 'Concluindo' || processo.status == ''"
                  class="c-error">close</mat-icon>
              </ng-container>
            </td>
          </ng-container>

          <!-- Ações Column -->
          <ng-container matColumnDef="acoes">
            <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header>Ações</th>
            <td class="td-table" mat-cell *matCellDef="let row">
              <mat-icon class="icone-tabela" (click)="openModalViewProcesso(row.processos)">visibility</mat-icon>
              <mat-icon class="icone-tabela"
                (click)="openModalEditProcesso(row.userId, row.processos[0].Id, row.processos[0])">edit</mat-icon>
              <mat-icon class="icone-tabela" (click)="openDeleteModal(row.user, row.processos[0])">delete</mat-icon>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell no-data" colspan="4">Nenhum dado encontrado "{{input.value}}"</td>
          </tr>
      </table>
      <mat-paginator class="shadow-sm" [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>