<div class="container">
  <div class="modal-title">
    <h1 mat-dialog-title>{{ data.title }}</h1>
  </div>
</div>
<div mat-dialog-content>
  <div class="notification-box" [ngClass]="{ success: isSuccess(), error: isError() }">
    <mat-icon class="icon">{{ isSuccess() ? 'check_circle' : 'error' }}</mat-icon>
    <p style="display: inline-block; vertical-align: middle;">{{ data.message }}</p>
  </div>
</div>
<div class="modal-actions">
  <app-button textButton="FECHAR" (click)="onClose()"></app-button>
</div>