.titulo{
  font-size: 26px;
  font-weight: 500;
  padding: 0;
  margin: 0 !important;
  color: var(--primary-color);
}

.subtitulo{
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 2px 0px 14px 0px;
  color: #8f8f8f;
  span{ color: var(--gray-color); font-weight: 500; }
}

.titulo-informacao{
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 0px;
}

.informacao{
  font-size: 14px;
  font-weight: 400;
  color: #767676;
  margin-bottom: 20px;
}